
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;300;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.alert-warning {
  color: #ffffff !important;
  background-color: #faa21a !important;
  border-color: #faa21a !important; 
  text-align: center !important;
  font-family: 'Public Sans', sans-serif !important;
}

/* Full size main background image https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_full_page*/

body, html {
  height: 100%;
  margin: 0;
}

/*background image*/
.bg {
  background-image: url("../images/NYC_Skyscrapper.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* logo */
img{
  position: absolute;
  top: 14px;
  left: 11px;
  width: 49px;
}

div#logo_text{
  color: #033824;
  font-size: 42px;
  font-family: 'Fredoka One', cursive;
  margin-left: 45px;
}

ul.navbar-nav{
  font-family: 'Fredoka One', cursive;
  font-size: 20px;
}
.navbar-nav{
margin-right: 35px;
}

.navbar .nav-link{
    color: #033824 !important;
    align-content: right !important;
    border-bottom: 4px solid transparent;
}

.navbar .nav-link:hover{
    color: #033824 !important;
    border-bottom: 3px solid rgb(255, 153, 0);
}

.navbar .nav-link:current{
    color: #f7f239 !important;
    border-bottom: 3px solid rgb(0, 255, 106);
}

/* Search navbar trip*/

/* Second navigation*/
div.col.align-self-center{
  position: absolute;
  top: 480px;
  left: 0px;
}

a.secondnav-link{
  padding-right: 20px;
  padding-left: 20px;
  color: white;
  text-decoration: none;
  font-family: 'Public Sans';
}

ul.nav.justify-content-center{
  height: 50px;
}

.fas{
  font-size: 30px;
}

.fas.fa-map-marker-alt{
  display: block;
  position: relative;
  left: 46px;
}

.fas.fa-eye{
  display: block;
  position: relative;
  left: 24px;
}

.fas.fa-utensils{
  display: block;
  position: relative;
  left: 58px;
}